.App {
  margin: 2rem 10rem ;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
.videoArea{
  border: none;
  outline: none;
  overflow: hidden;
  border-radius: 8px;

  width: 67rem;
}

.textArea{
  background-color: #222f3e;
  height: 3.6rem;
  padding-left: 1rem;

  display: flex;
  align-items: center;
  color: white;
}
.video{
  width: 67rem;
}
.resultArea{
  display: flex;
  flex-direction: column;
}
.text{
  font-size: 1rem;
  font-weight: 500;
}
.row{
  width: 17rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.button{
  border-radius: 5px;
  border: 1px solid #222f3e;
  padding: .8rem 2rem;
  background-color: transparent;
  cursor: pointer;
}
.help{
  border-radius: 5px;
  border: 1px solid #222f3e;
  background-color: transparent;
  padding:.8rem;
  cursor: pointer;
}
.dishes{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.dishesTitleBox{
  background-color: #222f3e;
  color: white;
  height: 3rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.dishesItemsArea{
  border: 1px solid #98aec7;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem;
}
.dishItem{
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin: 3px 0;
  justify-content: space-between;
}
.totalPrice{
  font-weight: 500;
  font-size: 1rem;
  margin-top: 1rem;
}